<%= form_with(model: chess_game, class: "bg-white p-2") do |form| %>
  <% if chess_game.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(chess_game.errors.count, "error") %> prohibited this chess_game from being saved:</h2>

      <ul>
        <% chess_game.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :black_player_id, style: "display: block" %>
    <%= form.select :black_player_id, Member.all.collect{|m| [m.fullname, m.id]}, {prompt: "Choose Player (black pieces)"}, { class: 'form-control'} %>
  </div>

  <div class="form-group">
    <%= form.label :white_player_id, style: "display: block" %>
    <%= form.select :white_player_id, Member.all.collect{|m| [m.fullname, m.id]}, {prompt: "Choose Player (white pieces)"}, { class: 'form-control'} %>
  </div>

  <div class="form-group">
    <%= form.label :winner_id, style: "display: block" %>
    <%= form.select :winner_id, Member.all.collect{|m| [m.fullname, m.id]}, {prompt: "Choose winner"} , { class: 'form-control'} %>
  </div>

  <div class="form-check ml-1 mb-2">
    <%= form.check_box :draw, class: 'form-check-input' %>
    <%= form.label :draw, style: "display: block", class: "form-check-label", for: "draw" %>
  </div>

  <div class="d-flex">
    <%= form.submit :class => 'btn btn-primary'%>
  </div>
<% end %>
