<!-- Content Row -->
<div class="row px-2">
  <div class="d-flex justify-content-between mb-2">
    <!-- Page Heading -->
    <%= render 'layouts/heading', title: 'Games' %>
    <%= link_to "New chess game", new_chess_game_path, class: 'btn btn-primary' %>
  </div>
  <table class="table table-striped bg-white">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Black player</th>
        <th scope="col">White player</th>
        <th scope="col">Winner</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @chess_games.each_with_index do |chess_game,index| %>
        <tr>
          <th scope="row"><%= index + 1%></th>
          <td><%= chess_game.black_player %></td>
          <td><%= chess_game.white_player %></td>
          <td>
            <% if chess_game.draw? %>
              <span class="text-dark">
                Draw!
              </span>
            <% else %>
              <span class="text-success">
                <%= chess_game.winner %>
              </span>
            <% end %>
          </td>
          <td class="d-flex members-action">
             <%= link_to chess_game do %>
              <i class="fa-solid fa-eye text-dark"></i>
            <% end %>
            <%= link_to edit_chess_game_path(chess_game) do %>
              <i class="ml-2 fa-solid fa-pen-to-square text-dark"></i>
            <% end %>
            <%= button_to chess_game, method: :delete do %>
              <i class="fa-solid fa-trash text-dark"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
