<div class="d-flex justify-content-between">
  <%= render 'layouts/heading', title: 'Game info', className: 'mb-2' %>
  <div class="d-flex members-action">
    <%= link_to edit_chess_game_path(@chess_game) do %>
      <i class="mr-2 fa-solid fa-pen-to-square text-dark"></i>
    <% end %>
    <%= button_to @chess_game, method: :delete do %>
      <i class="fa-solid fa-trash text-dark"></i>
    <% end %>
    <%= link_to chess_games_path do %>
      <span class="ml-2 badge badge-pill badge-info px-2 py-1">Back</span>
    <% end %>
  </div>
</div>
<div class="bg-white p-2">
  <%= render @chess_game %>
</div>
