<!DOCTYPE html>
<html>
  <head>
    <title>Chessamdin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    | <%= link_to "Members", members_path %> | <%= link_to "Games", chess_games_path %>
    <%= yield %>
  </body>
</html>
