<div id="<%= dom_id member %>">
  <h2><%= member.rank.ordinalize %></h2>
  <h3><%= member.previous_rank.try(:ordinalize) %></h3>
  <p>
    <strong>First name:</strong>
    <%= member.first_name %>
  </p>

  <div class="form-group">
    <label>First name</label>
    <input type="text" value="<%= member.first_name %>" readonly class="form-control" />
  </div>

  <div class="form-group">
    <label>Last name</label>
    <input type="text" value="<%= member.surname %>" readonly class="form-control" />
  </div>

  <div class="form-group">
    <label>Email address</label>
    <input type="text" value="<%= member.email_address %>" readonly class="form-control" />
  </div>

  <div class="form-group">
    <label>Date of birth</label>
    <input type="text" value="<%= member.date_of_birth %>" readonly class="form-control" />
  </div>
</div>