<div id="<%= dom_id member %>">
  <p>
    <strong>First name:</strong>
    <%= member.first_name %>
  </p>

  <p>
    <strong>Surname:</strong>
    <%= member.surname %>
  </p>

  <p>
    <strong>Email address:</strong>
    <%= member.email_address %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= member.date_of_birth %>
  </p>

</div>
